body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.sidebar {
    width: 200px;
    background-color: #444;
    height: 100vh;
    float: left;
    color: white;
    padding: 20px;
}

.kanban-container {
    margin-left: 200px;
    padding: 20px;
}
.kanban-board {
    display: flex;
    justify-content: space-around;
}

.kanban-column {
    flex-grow: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    min-height: 300px;
}

.kanban-column h2 {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

/* Adicione mais estilos conforme necessário */
